.relatedproducts {
    width: 78%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: auto;
    margin-bottom: 60px;
    /* border: 2px solid forestgreen; */
    /* margin: 120px 170px; */
}

.relatedproducts h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.relatedproducts hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.relatedproducts-item {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap */
    gap: 30px;
    justify-content: center; /* Center items horizontally */
}

.item-container3 {
    display: flex;
    /* border: 2px solid green; */
    justify-content: center;
    width: 260px; /* Adjust width as needed */
    height: 360px; /* Adjust height as needed */
    align-items: center;
    margin-top: 50px;
}

.item-container3 img {
    max-width: 100%; /* Ensure the image fits within its container */
    max-height: 100%; /* Ensure the image fits within its container */
    width: auto;
    height: auto;
    object-fit: contain; /* Maintain aspect ratio */
}
@media (max-width:1280px) {

    .relatedproducts{

        height: 50vh;

    }

    .relatedproducts h1{

        font-size: 40px;
    }
    .relatedproducts hr{

        width: 160px;
        height: 4px;

    }
    .relatedproducts-item{

        gap: 20px;
        margin-top: 30px;
    }
    .item-container3{

        max-width: 100%;
        
       }
}

@media (max-width:1024px) {

    .relatedproducts{

        height: 60vh;

    }

    .relatedproducts h1{

        font-size: 30px;
    }
    .relatedproducts hr{

        width: 120px;
        height: 3px;

    }
    .relatedproducts-item{

        gap: 15px;
        margin-top: 20px;
    }
    .item-container3{

        max-width: 100%;
        
       }
}
@media (max-width:800px) {

    .relatedproducts{

        height: 70vh;
        gap: 6px;

    }

    .relatedproducts h1{

        font-size: 20px;
    }
    .relatedproducts hr{

        width: 100px;
        /* height: 4px; */

    }
    .relatedproducts-item{

        gap: 20px;
        margin-top: 30px;
    }
    .item-container3{

        max-width: 100%;
        
       }
}
@media (max-width:500px) {

    .relatedproducts{

        height: 90vh;
        /* gap: 6px; */

    }

    .relatedproducts-item{

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        /* max-width: 100vw; */

    }

    .item-container3{

        max-width: 100%;
        
       }
}
