.cartitems{

    /* margin: 100px 170px; */
    width: 78%;
    margin: auto;
    margin-top: 72px;
    margin-bottom: 100px;
    /* border: 2px solid green; */

}
.cartitems hr{

    height: 3px;
    background: #e2e2e2;
    border: 0;

}
.cartitems-format-main{

    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 33px;
    padding: 20px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}
.cartitems-format{

    font-size: 17px;
    font-weight: 500;

}
.carticon-product-icon{

    height: 62px;  
}
.carticon-remove-icon{
 
    width: 15px;
    margin: 0px 30px;
    cursor: pointer;

}
.cartitems-quantity{
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background: white;
    margin-left: 7px;
}
.cartitems-down{

    display: flex;
    margin: 72px 0;



}
.cartitems-total{

    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;

}
.cartitems-total-item{

    display: flex;
    justify-content: space-between;
    padding: 15px 0px;

}
.cartitems-total button{

    width: 240px;
    height: 51px;
    outline: none;
    border: none;
    background:#ff5a5a;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

}
.cartitems-promocode{

    flex:1;
    font-size: 1rem;
    font-weight: 500;

}
.cartitems-promocode p{
    color: #555;
}
.cartitems-promobox{

    width: 504px;
    margin-top: 15px;
    padding-left: 20px;
    height: 49px;
    background: #eaeaea;
}
.cartitems-promobox input{

    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
    width: 330px;
    height: 32px;
}
.cartitems-promobox button{

    width: 154px;
    height: 49px;
    font-size: 1rem;
    background: black;
    color: white;
    cursor: pointer;
    border: none;
}