

.shop-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid green; */
    /* background: linear-gradient(180deg,#F0F0F0,#e1ffea22 60%);; */
}

.shop-category-banner {
    display: block;
    margin: 30px auto;
    width: 82%;
    /* border: 2px solid firebrick; */
}

.shopCategory-indexSort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid green; */
    width: 82%; /* Match the width of the banner */
}

.shopCategory-sort {
    padding: 10px 20px;
    border-radius: 40px;
    /* border: 1px solid #888; */
}

.shopCategory-indexSort p span {
    font-weight: 600;
}

.shopcategory-products {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr)); /* Adjusted grid-template-columns */
    /* gap: 10px; */
    row-gap: 30px;
    /* max-width: 100vw;  */
    margin-top: 50px;
    /* margin-bottom: 50px; */
    width: 82%; /* Ensure grid takes full width */
    /* overflow: auto; Hide horizontal overflow */
    /* height: auto; */
    /* border: 2px solid firebrick; */

}
.item-container3 {
    display: flex;
    justify-content: center;
    max-width: 100%;
}


.shopcategory-products img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}
.shopcategory-loadmore{

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 95px auto;
    width: 233px;
    height: 69px;
    border-radius:75px ;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

@media (max-width:1280px){


    .shop-category-banner{

        margin:20px auto;
        width: 85%;

    }
    .shopCategory-indexSort{

        width: 85%;
        margin: auto;
    }
    .shopCategory-sort{

        padding: 5px 10px;
        font-size: 12px;

    }
    .shopCategory-indexSort p{

        font-size: 12px;

    }
   .shopcategory-products{

    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    width: 85%;
    margin: 50px auto;
    padding: 0;
   }
   


.shopcategory-products img {
   
    object-fit: contain;
    
}
.item-container3{

    max-width: 100%;
    
   }
   .shopcategory-loadmore{

        margin: 100px auto;
        width: 200px;
        height: 60px;
        font-size: 16px;

   }

    
}
@media (max-width:1024px){


    .shop-category-banner{

        margin:20px auto;
        width: 85%;

    }
    .shopCategory-indexSort{

        width: 85%;
        margin: auto;
    }
    .shopCategory-sort{

        padding: 5px 9px;
        font-size: 11px;

    }
    .shopCategory-indexSort p{

        font-size: 12px;

    }
    .shopcategory-products{

        width: 90%;
        margin: 10px auto;
        /* margin: auto; */
        padding: 0;
        row-gap: 40px;
       }
      .shopcategory-products .item{

        margin: auto;
      }
      .item-container3{

        max-width: 100%;
        
       }
   .shopcategory-loadmore{

        margin: 100px auto;
        width: 200px;
        height: 50px;
        font-size: 15px;
        
   }

    
}
@media (max-width:800px){


    .shop-category-banner{

        /* margin:20px auto; */
        width: 82%;

    }
    .shopCategory-indexSort{

        width: 82%;
        margin: auto;
    }
    
    .shopcategory-products{

      max-width: 82%;
      column-gap: 30px;

       }
   
   .shopcategory-loadmore{

        margin: 60px auto;
        width: 150px;
        height: 40px;
        font-size: 13px;
        
   }
   .item-container3{

    max-width: 100%;
    
   }

    
}
@media (max-width:500px){

    .shop-category-banner{

        /* margin:20px auto; */
        width: 82%;
        /* border: 2px solid green; */

    }
    .shopCategory-indexSort{

        width: 82%;
        margin: auto;
    }
    
    .shopcategory-products{

        grid-template-columns: repeat(2,1fr);
        row-gap: 0;
        column-gap: 0;
    }
   
   .shopcategory-loadmore{

        margin: 60px auto;
        width: 150px;
        height: 40px;
        font-size: 13px;
        
   }
   .item-container3{
    
    border: 2px solid greenyellow;
    max-width: 100%;
    
   }
    


}