.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    height: 90vh;
    gap: 10px;
}

.popular h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
   
}

.popular-item {
    display: flex;
    justify-content: center;
    /* border: 2px solid firebrick; */
    gap: 30px;
    /* margin-top: 50px; */

    /* max-width: 100vh;  */
    margin: 50px auto; 
    flex-wrap: wrap;
}

.item-container {
    /* width: calc(25% - 22.5px);  */
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.item-container img {
    max-width: 100%;
    height: auto;
}
.popular hr{

    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

@media (max-width:1280px) {

    .popular{

        height: 50vh;

    }

    .popular h1{

        font-size: 40px;
    }
    .popular hr{

        width: 160px;
        height: 4px;

    }
    .popular-item{

        gap: 20px;
        margin-top: 30px;
    }
    .item-container{

        max-width: 100%;
        
       }
}

@media (max-width:1024px) {

    .popular{

        height: 60vh;

    }

    .popular h1{

        font-size: 30px;
    }
    .popular hr{

        width: 120px;
        height: 3px;

    }
    .popular-item{

        gap: 15px;
        margin-top: 20px;
    }
    .item-container3{

        max-width: 100%;
        
       }
}
@media (max-width:800px) {

    .popular{

        height: 70vh;
        gap: 6px;

    }

    .popular h1{

        font-size: 20px;
    }
    .popular hr{

        width: 100px;
        /* height: 4px; */

    }
    .popular-item{

        gap: 20px;
        margin-top: 30px;
    }
    .item-container3{

        max-width: 100%;
        
       }
}
@media (max-width:500px) {

    .popular{

        height: 90vh;
        /* gap: 6px; */

    }

    .popular-item{

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        /* max-width: 100vw; */

    }

    .item-container3{

        max-width: 100%;
        
       }
}